<h3>Welcome to AI-Powered Study Planner!</h3>
<p>Thank you for signing up. To get started, please verify your email address by clicking the link below:</p>
<p><a href="{{activationLink}}">Activate Your Account</a></p>
<br>
<p style="color: #B32113">If you didn’t sign up for this account, please ignore this email or contact our support team.</p>
<p>Thank you,<br>The AI-Powered Study Planner Team</p>
